<pre>
  <strong>Artist: <%=  @artist.name %></strong>
  <% @artist.posts.each do |painting| %>
  Title:
  <%= painting.title %>
  Rating:
  <%= painting.rating %>
<div style="width:400px; height:auto">
<%= link_to image_tag(painting.image, style:'width:100%'), posts_path%>
</div>
<% end %>