<pre>
 <a href="/posts">Browse Paintings</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>     <a href="/artists">Artists</a>     <a href="/logout">Logout</a>


<h1> Artists </h1>


<% @artists.each do |artist| %>
    
    Name: <%= link_to artist.name, artist_path(artist) %>
    
    <br>
        
    
<%end%>
    </pre>

