<pre>
 <a href="/login">Logout</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>


<h1> Artists </h1>


<% @artists.each do |artist| %>
    
    Name: <%= link_to artist.name, artist_path(artist) %>
    
    <br>
        
    <% end %>
    </pre>

