<h1> Paintings </h1>


<%= @paintings.each do |painting| %>
    
    Title: <%= link_to painting.title, painting_path(painting) %>
    <div style="width:200px; height:auto">
    <%= image_tag(painting.image, style: 'width:100%')%>
    </div>
    <br>
        <br>
    <% end %>

