<pre>
<h1> Members of the Art Catalogue Community </h1>


<% @users.each do |user| %>
    
    Title: <%= link_to user.email, user_path(user) %>
    
    <br>
        
    <% end %>
    </pre>