<pre>
<a><%= link_to 'My Posts', user_path(current_user)%></a>      <a href="/posts">Browse Paintings</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>     <a href="/artists">Artists</a>     <a href="/logout">Logout</a>
<h1><b> Members of the Art Catalogue Community </b></h1>
<%= link_to 'User with Most Posts', user_path(:most_posts)%>


<% @users.each do |user| %>
    
  <%= link_to user.full_name, user_path(user) %>
     <b>Number of Paintings Posted:</b><%= user.posts.all.count%>
    <br>
        
    <% end %>
    </pre>