<pre>
<h1><b> Members of the Art Catalogue Community </b></h1>


<% @users.each do |user| %>
    
  <%= link_to user.full_name, user_path(user) %>
     <b>Number of Paintings Posted:</b><%= user.posts.all.count%>
    <br>
        
    <% end %>
    </pre>