<pre>
 <a href="/posts">Browse Paintings</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>     <a href="/logout">Logout</a>


<h1> Paintings </h1>


<% @posts.each do |post| %>
    
    Title: <%= link_to post.title, post_path(post) %>
    <div style="width:200px; height:auto">
    <%= image_tag(post.image, style: 'width:100%')%>
    </div>
    <br>
        
    <% end %>
    </pre>

